<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>In vé bằng QZ Tray</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/11.1.0/jsrsasign-all-min.js"></script>
  <script src="qz-tray.js"></script>
  <script src="sign-message.js"></script> <!-- file chứa private key & hàm signMessage -->
</head>
<body>
  <h1>In vé thử</h1>
  <button onclick="printTicket()">In vé</button>

  <script>
    // Cung cấp certificate
    qz.security.setCertificatePromise(function(resolve, reject) {
      resolve("-----BEGIN CERTIFICATE-----\n" +
"MIIECzCCAvOgAwIBAgIGAZgiMjgYMA0GCSqGSIb3DQEBCwUAMIGiMQswCQYDVQQG\n" +
"EwJVUzELMAkGA1UECAwCTlkxEjAQBgNVBAcMCUNhbmFzdG90YTEbMBkGA1UECgwS\n" +
"UVogSW5kdXN0cmllcywgTExDMRswGQYDVQQLDBJRWiBJbmR1c3RyaWVzLCBMTEMx\n" +
"HDAaBgkqhkiG9w0BCQEWDXN1cHBvcnRAcXouaW8xGjAYBgNVBAMMEVFaIFRyYXkg\n" +
"RGVtbyBDZXJ0MB4XDTI1MDcxODEwMTkzM1oXDTQ1MDcxODEwMTkzM1owgaIxCzAJ\n" +
"BgNVBAYTAlVTMQswCQYDVQQIDAJOWTESMBAGA1UEBwwJQ2FuYXN0b3RhMRswGQYD\n" +
"VQQKDBJRWiBJbmR1c3RyaWVzLCBMTEMxGzAZBgNVBAsMElFaIEluZHVzdHJpZXMs\n" +
"IExMQzEcMBoGCSqGSIb3DQEJARYNc3VwcG9ydEBxei5pbzEaMBgGA1UEAwwRUVog\n" +
"VHJheSBEZW1vIENlcnQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC1\n" +
"MEQ/om1+pNmADxwE+3O1V3rcnQzj5eJIiEzDW+CgzGniiA8LVo0BanWhxe6ogiq7\n" +
"zPgV4S40/ki2sWXTi+GCowWoLsgIfJGYnhfDPXIqr0fXvE5t19BauSVpYihrBgRQ\n" +
"QCrjOWVP9szlz8A1WM/y4ODYPn/Z1feoDU4to1crine/0L2Wdx/x45FMpAAwHaMI\n" +
"Ai+he1QCnaXa2yFxipqz4yoXHdVaqQ3JL0OrGpHCqCocX6+AA3Aw7Dt6BhiFVYY8\n" +
"4hXsW+vAR/RdYhJdeqmaCXY/liD6dinZqpGfJVuUjj8+askgONGDI7+XMSj1nXV8\n" +
"snLQuUSQEZS65S8f4s9dAgMBAAGjRTBDMBIGA1UdEwEB/wQIMAYBAf8CAQEwDgYD\n" +
"VR0PAQH/BAQDAgEGMB0GA1UdDgQWBBRqzIkMSmXBOmkNPR7y4Xd6J6cA/jANBgkq\n" +
"hkiG9w0BAQsFAAOCAQEAnqV/YNqOarU+/El3/yfourqsp+ffvyf/DP91CKely7O2\n" +
"9mh59ZkTnLauq1Msr7LrBYGHHfzjhLSzdIjDD/8v1V0Xxw4AMSssUz4kVxeKRmmY\n" +
"vQ6KJmVNgfxZ76FhxP21FKlrzR+Zrl/UDm/dnF/wk86l7iTe0Wg6gUkujnRumzIC\n" +
"A8nuduTNRRz5Tfl6l2sqc63Ccb1n5QPqUJfVYKMshvcDgkhJoZYbROYeQw6j8uHZ\n" +
"njUM6b9HVvkoHBWmQzMMkM7ZMJ35GHLj/liYqknKru4I6z9vn8M1l1sUzqarKb5i\n" +
"SRLSS+E3O/v6LjLzWQSvEUkkXl76UfB/o6cz2d8Grw==\n" +
"-----END CERTIFICATE-----\n");
    });

    qz.security.setSignatureAlgorithm("SHA512");


    async function printTicket() {
      try {
        if (!qz.websocket.isActive()) {
          await qz.websocket.connect();
        }

        const config = qz.configs.create("W80", {
          encoding: 'RAW',
          copies: 1,
          rasterize: true
        });

        const data = [
          { type: 'html', format: 'plain', data: `
            <div style="font-size:20px; text-align:center;">
              <strong>VÉ SỐ</strong><br/>
              <span style="font-size: 40px;">A012</span><br/>
              Quầy: Tư pháp
            </div>
          ` }
        ];

        await qz.print(config, data);
        alert("Đã gửi lệnh in!");
      } catch (err) {
        alert("Lỗi: " + err);
        console.error(err);
      }
    }
  </script>
</body>
</html>
